absl-py==2.0.0
acconeer-exptool==7.6.0
alembic==1.12.1
astunparse==1.6.3
attributes-doc==0.3.0
attrs==23.1.0
beautifulsoup4==4.12.2
blinker==1.7.0
bs4==0.0.1
cachetools==5.3.2
cbor2==5.5.0
certifi==2023.7.22
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==2.2.1
colorama==0.4.6
commonmark==0.9.1
contourpy==1.1.1
cycler==0.12.1
darkdetect==0.7.1
databricks-cli==0.18.0
docker==6.1.3
docutils==0.20.1
entrypoints==0.4
exceptiongroup==1.1.1
Flask==3.0.0
flatbuffers==1.12
fonttools==4.43.1
future==0.18.3
gast==0.4.0
gitdb==4.0.11
GitPython==3.1.40
google-auth==2.23.4
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet==3.0.1
grpcio==1.59.2
gunicorn==21.2.0
h5py==3.10.0
hyperopt==0.2.7
idna==3.4
importlib-metadata==6.8.0
importlib-resources==6.1.0
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.3.2
keras==2.9.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.5
libclang==16.0.6
Mako==1.2.4
Markdown==3.5.1
MarkupSafe==2.1.3
matplotlib==3.8.1
ml-dtypes==0.2.0
mlflow==2.8.0
networkx==3.2.1
numpy==1.26.1
oauthlib==3.2.2
opt-einsum==3.3.0
packaging==23.2
pandas==2.1.2
Pillow==10.1.0
platformdirs==3.11.0
protobuf==3.19.6
psutil==5.9.6
py4j==0.10.9.7
pyarrow==13.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
Pygments==2.16.1
PyJWT==2.8.0
pyparsing==3.1.1
pyperclip==1.8.2
pyqtdarktheme==2.1.0
pyqtgraph==0.13.3
pyserial==3.5
PySide6==6.4.3
PySide6-Addons==6.4.3
PySide6-Essentials==6.4.3
python-dateutil==2.8.2
pytz==2023.3.post1
pyusb==1.2.1
pywin32==310
PyYAML==6.0.1
QtAwesome==1.2.3
QtPy==2.4.1
querystring-parser==1.2.4
requests==2.31.0
requests-oauthlib==1.3.1
rich==12.6.0
rsa==4.9
scikit-learn==1.3.2
scipy==1.11.3
seaborn==0.13.0
shiboken6==6.4.3
six==1.16.0
smmap==5.0.1
soupsieve==2.5
SQLAlchemy==2.0.23
sqlparse==0.4.4
tabulate==0.9.0
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.0
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
textual==0.1.18
threadpoolctl==3.2.0
tqdm==4.66.1
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.0.7
waitress==2.1.2
websocket-client==1.6.4
Werkzeug==3.0.1
wrapt==1.14.1
zipp==3.17.0
